/* header */
.nav-wrapper {
  background: linear-gradient(to bottom right, rgb(6, 132, 141)20%, rgb(186, 236, 104));
}

.inline {
  display: inline;
}

.post {
  background-color: rgb(224, 217, 217);
  padding: 18px 7px;
  border: white 1px solid;
}

.post-text {
  border: none;
  margin-top: 21px;
}

.icon {
  color: rgb(197, 196, 196);
  font-size: 21px;
  padding: 0 14px;
}

/* add friends */
.img-perfil {
  width: 60px;
}

.icon-btn {
  border: none;
  background-color: inherit;
}

/* add publicacion */
.icon-public {
  font-size: 16px;
  color: rgb(68, 95, 97);
  cursor: pointer;
  padding: 18px;
}

.icon-public:hover {
  font-size: 21px;
  color: rgb(55, 247, 234);
}

#input {
  border: 1px solid rgb(172, 170, 170);
  border-radius: 10px;
}