* {
  font-family: 'Roboto', sans-serif;
}

/* index vista splash*/
.gradient {
  background: linear-gradient(to bottom right, rgba(208, 236, 83, 0.534) 5%, rgba(245, 38, 107, 0.589));
}

.vh100 {
  height: 100vh;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.img-index {
  width:60vh;
}

.img-load {
  width:30vh;
}

/* vista de login */
.bg-login {
  background: linear-gradient(to bottom right, rgba(208, 236, 83, 0.534) 5%, rgba(245, 38, 107, 0.589));
  padding: 31px;
}

.info-login {
  color: #5e5c5c;
  font-size: 18px;
}

/* header */
header {
  position: fixed;
  width: 100%;
}
.img-logo {
  width: 30vh;
}

nav {
  height: 90px;
}

.nav-wrapper {
  background: linear-gradient(to bottom right, rgb(208, 236, 83) 1%, rgb(245, 38, 107));
  padding: 7px 21px;
}

.inline {
  display: inline;
}

.post {
  background-color: rgba(243, 237, 237, 0.644);
  padding: 18px 7px;
  border: white 1px solid;
}

.post-text {
  border: none;
  margin-top: 21px;
}

.icon {
  color: rgb(58, 78, 77);
  font-size: 21px;
  padding: 0 14px;
}

.icon:hover {
  color:rgb(206, 53, 130);
  font-size: 23px;
}

/* main */
.content-body {
  background-color: rgb(241, 239, 241);
  padding-top: 120px;
}
/* add friends */
.img-perfil {
  height: 50px;
  width: 55px;
  border-radius: 7px;
}

.icon-btn {
  border: none;
  background-color: inherit;
}

#btn-friend {
  padding: 7px;
  border-radius: 7px;
  color: white;
}

.input-search{
  border: 1px solid rgb(172, 172, 172) !important;
  border-radius: 7px !important;
}

.icon-search {
  position: relative;
  bottom: 50px;
}

.btn-grad {
  background: linear-gradient(to bottom right, rgb(208, 236, 83) 1%, rgb(245, 38, 107));
}

.img-emogi {
  width: 5%;
}

.img-comment {
  width: 50px;
  border-radius: 7px;
}

/* add publicacion */

.icon-public {
  font-size: 20px;
  color: rgb(63, 95, 97);
  cursor: pointer;
  padding: 16px;
}

.icon-public:hover {
  font-size: 21px;
  color: rgb(248, 42, 93);
}

#input-comment, #input-com {
  border: 1px solid rgb(172, 170, 170) !important;
  border-radius: 10px !important;
}

#number-likes {
  color: #2c6151;
}

.img-publicacion {
  height: 40vh;
  width: 100%;
}

#publicacion {
  margin-top:18px;
}

.group-icon {
  margin-top: -15px;
}

.img-fondo {
  background-image: url("../assets/images/listo.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}

.logo-size {
  width: 200px;
}



/*.form {
  box-shadow: 5px 5px #888888;
  padding: 20px 5px;
}

.logo {
  margin: 5vh;*/
  width: 15vh;

}

.active {
  position:absolute;
  border: red 1px solid;
  bottom: 5px;
  right: 5px;
  position: fixed;
}
