<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- hoja de stylos materialize -->
  <link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- hoja de stylo css -->
  <link rel="stylesheet" href="../css/flexboxgrid.min.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <title>E.GO</title>
</head>
<body >
  <header>
    <nav>
      <div class="nav-wrapper">
        <img src="../assets/images/logo.png" alt=""class="brand-logo left img-logo">
        <ul class="right show-on-small hide-on-large-only">
          <li>
            <a class="usersComent"></a>
            <img class="img-perfil comentsPhoto">
          </li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a  href="profile.html"  id="nameUsers">
            <img src="../assets/images/perfil1.jpg" class="img-perfil comentsPhoto"></a></li>
          <li><a href="home.html" ><i class="fa fa-bars icon white-text"></i>&nbsp;Home</a></li>
          <li><a href="#"><i class="fa fa-comments icon white-text"></i></a></li>
          <li><a id="friend-active"><i class="fa fa-user icon white-text"></i></a></li>
          <li><a href="iniciarSesion.html">Close</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="content-body">
    <div class="container">
      <div class="row">
        <div class="col s12 m4 hide-on-small-only">
          <div class="friend">
            <h5 class="grey-text"> Friends</h5>
            <input type="text" class="validate input-search"><i class="fa fa-search icon right icon-search"></i>
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s3">
                  <img src="../assets/images/perfil2.jpg" alt="" class="img-perfil"> <!-- notice the "circle" class -->
                </div>
                <div class="col s6">
                  <p id="nameFriend">Ana Mendoza</p>
                </div>
                <div class="col s3">
                  <button id="btn-add" class="icon-btn"><i class="fa fa-user-plus icon"></i></button>
                  <button id="btn-friend" class="icon-btn hide gradient">Amigos</button>
                </div>

              </div>
              <div class="divider"></div>
              <div class="row valign-wrapper">
                <div class="col s3">

                  <img id="friend" src="../assets/images/perfil1.jpg" alt="" class="circle  img-perfil"> <!-- notice the "circle" class -->
                </div>
                <div class="col s6">
                  <p>Rossi Rodriguez Guevara</p>
                </div>
                <div class="col s3">

                  <button id="btn-add" class="icon-btn"><i class="fa fa-user-plus icon"></i></button>
                  <button id="btn-friend" class="icon-btn hide">Amigos</button>
                </div>
              </div>
              <div class="divider"></div>
              <div class="row valign-wrapper">
                <div class="col s3">
                  <img src="../assets/images/perfil3.jpg" alt="" class="img-perfil"> <!-- notice the "circle" class -->
                </div>
                <div class="col s6">
                  <p>Carla Nuñez Pinto</p>
                </div>
                <div class="col s3">
                  <button id="btn-add" class="icon-btn"><i class="fa fa-user-plus icon"></i></button>
                  <button id="btn-friend" class="icon-btn hide">Amigos</button>
                </div>
              </div>
              <div class="divider"></div>
            </div>
          </div>
          <div class="group">
            <h5 class="gray-text"> Group</h5>
            <input type="text" class="validate input-search"><i class="fa fa-search icon right icon-search"></i>
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s3">
                  <img src="../assets/images/dmoda.png" alt="" class="img-perfil"> <!-- notice the "circle" class -->
                </div>
                <div class="col s6">
                  <p>D'Moda</p>
                </div>
                <div class="col s3">

                  <button class="icon-btn"><i class="fa fa-plus icon"></i></button>
                </div>

              </div>
              <div class="divider"></div>
              <div class="row valign-wrapper">
                <div class="col s3">
                  <img src="../assets/images/etnika.png" alt="" class="img-perfil"> <!-- notice the "circle" class -->
                </div>
                <div class="col s6">
                  <p>ETNIKA </p>
                </div>
                <div class="col s3">

                  <button class="icon-btn"><i class="fa fa-plus icon"></i></button>
                </div>
              </div>
              <div class="divider"></div>
              <div class="row valign-wrapper">
                <div class="col s3">
                  <img src="../assets/images/zaris.jpg" alt="" class="img-perfil"> <!-- notice the "circle" class -->
                </div>
                <div class="col s6">
                  <p>Zari's </p>
                </div>
                <div class="col s3">
                  <button class="icon-btn"><i class="fa fa-plus icon"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m8">
          <div class="border-post">
            <form id="new-publicacion">
              <textarea id="new-text" class="post-text" placeholder="Whats in your mind today?"></textarea>
            </form>
            <div class="post">
              <button id="btn-text"  type="submit" class="btn right" disabled>Post</button>
              <ul>
                <li class="inline"><a href="#"><i class="fa fa-map-marker icon"></i></a></li>
                <li class="inline" href="#modal1"><a href="#" id='file-select'><i class="fa fa-camera icon "></i> </a></li>
                <li class="inline"><a href="#"><i class="fa fa-film icon"></i></a></li>
                <li class="inline"><a href="#"><i class="fa fa-microphone icon"></i></a></li>
              </ul>
            </div>
          </div>
          <div>
            <div id="publicacion" >
            </div>
            <div class="col s12 m12 white">
              <input id="input-comment" placeholder="Add a comment.." type="text" class="hide">
            </div>
          </div > 
          <!-- publicando imagenes -->
          <input id='file' name='file' type='file' class="hide">
          <div>
            <div id="publicacion-img">
            </div>
          </div>
          <br><br>
          <div>
            <div id="public-header" class="col s12 m12 ">
              <div class="col s2 m2 ">
                <img src="../assets/images/etnika.png" alt="" class=" img-perfil">
              </div>
              <div class="col s10 m10">E T N I K A<br>
                <span class="grey-text">Publicado a las 12:36am</span>
              </div>
              <div class="col s12 m12 divider"></div>
            </div>
            <div id="public-body" class="col s12 m12 white">
              <div class="text-public center">
                <img src="../assets/images/publicacion1.jpg" class="img-publicacion" alt="">
              </div>
            </div>
            <div class="col s12 m12 group-icon white">
              <a><i class="fa fa-thumbs-o-up icon-public" id="icon-like"></i></a>
              <a href="#"><i class="fa fa-edit icon-public"></i></a>
              <a><i class="fa fa-share icon-public"></i></a>
              <p class="right grey-text" id="contador"></p>
              <div class="col s12 m12 divider"></div>
              <br><br>
              <div id="add-com" class="col s12 m12">
                <div class="col s1 m1">
                  <img src="../assets/images/perfil3.jpg" alt="" class="img-comment">
                </div>
                <p class="col s11 m11 ">Oww la ruta de la ropa usada! <span><img src="../assets/images/emogi.png" alt="emogi" class="img-emogi"></span><span  class="right grey-text">publicado : 13:01</span></p>
              </div>
              <div class="col s12 m12">
                <input id="input-com" placeholder="Add a comment.." type="text">
              </div>
            </div>
          </div>
          <div>
            <div id="public-header" class="col s12 m12 ">
              <div class="col s2 m2 ">
                <img src="../assets/images/zaris.jpg" alt="" class=" img-perfil">
              </div>
              <div class="col s10 m10">Z'ARIS<br>
                <span class="grey-text">Publicado a las 16:36am</span>
              </div>
              <div class="col s12 m12 divider"></div>
            </div>
            <div id="public-body" class="col s12 m12 white">
              <p>Aprovecha los Desc% en J U S T I C E</p>
              <div class="text-public center">
                <img src="../assets/images/publicaacion2.jpg" class="img-publicacion" alt="">
              </div>
            </div>
            <div class="col s12 m12 group-icon white">
              <a><i class="fa fa-thumbs-o-up icon-public" id="icon-like"></i></a>
              <a href="#"><i class="fa fa-edit icon-public"></i></a>
              <a><i class="fa fa-share icon-public"></i></a>
              <p class="right grey" id="contador"></p>
              <div class="col s12 m12 divider"></div>
              <br><br>
              <div id="add-com" class="col s12 m12">
                <div class="col s1 m1">
                  <img src="../assets/images/perfil1.jpg" alt="" class="img-comment">
                </div>
                <p class="col s11 m11 ">Buenas ofertas..!! <span><img src="../assets/images/emogi.png" alt="emogi" class="img-emogi"></span><span  class="right grey-text">publicado : 13:01</span></p>
              </div>
              <div class="col s12 m12">
                <input id="input-com" placeholder="Add a comment.." type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actives hide">
      <img src="../assets/images/perfil1.jpg" class="img-perfil">
      <span>Susana Lucero</span>
      <br>
      <img src="../assets/images/swit.jpg" class="img-perfil">
      <span>Maria Esperanza</span>
      <br>
      <img src="../assets/images/perfil3.jpg" class="img-perfil">
      <span>Carla Vega</span>
      <br>
      <img src="../assets/images/perfil2.jpg" class="img-perfil">
      <span>Juana Manriquez</span>
      <br>
      <img src="../assets/images/etnika.png" class="img-perfil">
      <span>Etnika</span>
      <br>
      <img src="../assets/images/zaris.jpg" class="img-perfil">
      <span>zaris</span>
      <br>
      <img src="../assets/images/dmoda.png" class="img-perfil">
      <span>D'moda</span>
    </div>
  </main>
  <!-- Modal Structure -->
  <!-- <div id="modal1" class="modal">
    <div class="modal-content center-align">
      <h4>Sube una imagen</h4>
    </div>
    <div class="">
      <form action="#">
        <div class="container-photo right-align">
         <div class="box-photo">
          </div>
        </div>
        <div id="preview" class="file-field input-field onload-img">

          <div class="btn">
            <span class="">File</span>
            <input class="" id="file" type="file" multiple>
          </div>

          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="center-align">
        <a class="waves-effect waves-light btn btn-grad">Postear</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right btn-grad">cancelar</a>
      </div>
    </div>
  </div> -->
  
  <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>
