<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- hoja de stylos materialize -->
  <link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- hoja de stylo css -->
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <title>Red Social</title>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <img src="../assets/images/logo.png" alt=""class="brand-logo left img-logo">
        <li class="right show-on-small hide-on-large-only">
          <a href="perfil.html" >Perfil
            <img src="../assets/images/perfil1.jpg" class=" img-perfil">
          </a>
        </li>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="perfil.html" >Mario Belmont
              <img src="../assets/images/perfil1.jpg" class=" img-perfil">
            </a>
          </li>
          <li>
            <a href="home.html" ><i class="fa fa-bars icon white-text"></i>&nbsp;Home</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-comments icon white-text"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-user icon white-text"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="content-body">
    <div class="container">
      <div class="row">
        <div class="col s12 m4 hide-on-small-only">
          <div class="friend">
            <h5 class="grey-text"> Friends</h5>
            <input type="text" class="validate input-search"><i class="fa fa-search icon right icon-search"></i>
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s3">
                  <img src="../assets/images/perfil3.jpg" alt="" class="img-perfil"> <!-- notice the "circle" class -->
                </div>
                <div class="col s6">
                  <p>Ana Mendoza</p>
                </div>
                <div class="col s3">
                  <button class="icon-btn"><i class="fa fa-user-plus icon"></i></button>
                </div>           
              </div>
              <div class="divider"></div>
              <div class="row valign-wrapper">
                <div class="col s3">
                  <img src="../assets/images/perfil1.jpg" alt="" class="img-perfil"> <!-- notice the "circle" class -->
                </div>
                <div class="col s6">
                  <p>Rossi Rodriguez Guevara</p>
                </div>
                <div class="col s3">
                  <button class="icon-btn"><i class="fa fa-user-plus icon"></i></button>
                </div>           
              </div>
              <div class="divider"></div>
              <div class="row valign-wrapper">
                <div class="col s3">
                  <img src="../assets/images/perfil2.jpg" alt="" class="img-perfil"> <!-- notice the "circle" class -->
                </div>
                <div class="col s6">
                  <p>Carla Nuñez Pinto</p>
                </div>
                <div class="col s3">
                  <button class="icon-btn"><i class="fa fa-user-plus icon"></i></button>
                </div>           
              </div>
              <div class="divider"></div>
            </div>
          </div>
          <div class="group">
            <h5 class="gray-text"> Group</h5>
            <input type="text" class="validate input-search"><i class="fa fa-search icon right icon-search"></i>
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s3">
                  <img src="../assets/images/dmoda.png" alt="" class="img-perfil"> <!-- notice the "circle" class -->
                </div>
                <div class="col s6">
                  <p>D'Moda </p>
                </div>
                <div class="col s3">
                  <button class="icon-btn"><i class="fa fa-plus icon"></i></button>
                </div>           
              </div>
              <div class="divider"></div>
              <div class="row valign-wrapper">
                <div class="col s3">
                  <img src="../assets/images/etnika.png" alt="" class="img-perfil"> <!-- notice the "circle" class -->
                </div>
                <div class="col s6">
                  <p>ETNIKA </p>
                </div>
                <div class="col s3">
                  <button class="icon-btn"><i class="fa fa-plus icon"></i></button>
                </div>           
              </div>
              <div class="divider"></div>
              <div class="row valign-wrapper">
                <div class="col s3">
                  <img src="../assets/images/zaris.jpg" alt="" class="img-perfil"> <!-- notice the "circle" class -->
                </div>
                <div class="col s6">
                  <p>Zari's </p>
                </div>
                <div class="col s3">
                  <button class="icon-btn"><i class="fa fa-plus icon"></i></button>
                </div>           
              </div>
            </div>
          </div> 
        </div>
        <div class="col s12 m8">
          <div>
            <form id="new-publicacion">
              <textarea id="new-text" class="post-text" placeholder="Whats in your mind today?"></textarea>
            </form>
            <div class="post">
              <button id="btn-text"  type="submit" class="btn right">Post</button>
              <ul>
                <li class="inline"><a href="#"><i class="fa fa-map-marker icon"></i></a></li>
                <li class="inline"><a href="#"><i class="fa fa-camera icon "></i></a></li>
                <li class="inline"><a href="#"><i class="fa fa-film icon"></i></a></li>
                <li class="inline"><a href="#"><i class="fa fa-microphone icon"></i></a></li>
              </ul>
            </div>
          </div>
          <div id="publicacion">
          </div>
        </div>
      </div>
    </div>
  </main>





  <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>