<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- hoja de stylos materialize -->
  <link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- hoja de stylo css -->
  <link rel="stylesheet" href="../css/flexboxgrid.min.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <title>E.GO</title>
</head>
<body class="bg-color">
  <header>
    <div class="portada">
      <img class="portada-img" src="../assets/images/portada.jpg" alt="">
    </div>
    <nav class="nav-profile">
      <div class="nav-wrapper gradient">
        <ul class="right">
          <li><a href="home.html" ><i class="fa fa-bars icon white-text"></i>&nbsp;Home</a></li>
        </ul>
      </div>
    </nav>
    <div>
      <img alt="perfil" class="comentsPhoto profile">
    </div>
  </header>
  <main class="content-profile">
    <div class="row">
      <div class="col s12 m4 border-post n-profile">
        <div>
          <p class="usersComent text-name"></p>
          <div class="col s12 m12 divider"></div>
          <p><span><i class="fa fa-map-marker grey-text "></i></span>&nbsp&nbsp&nbsp&nbsp&nbsp Lima-Peru <br> <span><i class="fa fa-star-half-o  grey-text" aria-hidden="true"></i></span>&nbsp&nbsp&nbsp&nbsp Seguidores <br> <span><i class="fa fa-envelope-o grey-text" aria-hidden="true"></i></span>&nbsp&nbsp&nbsp&nbsp&nbsp<a href="">web.facebook.com/lmar.rrhh/</a> </p>

        </div>
      </div>
      <div class="col s12 m8">
        <div class="border-post">
          <form id="new-publicacion">
            <textarea id="new-text" class="post-text" placeholder="Whats in your mind today?"></textarea>
          </form>
          <div class="post">
            <button id="btn-text"  type="submit" class="btn right" disabled>Post</button>
            <ul>
              <li class="inline"><a href="#"><i class="fa fa-map-marker icon"></i></a></li>
              <li class="modal-trigger inline" href="#modal1"><a href="#"><i class="fa fa-camera icon "></i> </a></li>
              <li class="inline"><a href="#"><i class="fa fa-film icon"></i></a></li>
              <li class="inline"><a href="#"><i class="fa fa-microphone icon"></i></a></li>
            </ul>
          </div>
        </div>
        <div>
          <div id="publicacion">
          </div>
          <div class="col s12 m12 white">
            <input id="input-comment" placeholder="Add a comment.." type="text" class="hide">
          </div>
        </div>
        <div>
          <div id="public-header" class="col s12 m12 ">
            <div class="col s2 m2 ">
              <img alt="" class="comentsPhoto img-perfil">
            </div>
            <div class="col s10 m10">E T N I K A<br>
              <span class="grey-text">Publicado a las 12:36am</span>
            </div>
            <div class="col s12 m12 divider"></div>
          </div>
          <div id="public-body" class="col s12 m12 white">
            <div class="text-public center">
              <img src="../assets/images/publicacion1.jpg" class="img-publicacion" alt="">
            </div>
          </div>
          <div class="col s12 m12 group-icon white">
            <a><i class="fa fa-thumbs-o-up icon-public" id="icon-like"></i></a>
            <a href="#"><i class="fa fa-edit icon-public"></i></a>
            <a><i class="fa fa-share icon-public"></i></a>
            <p class="right grey-text" id="contador"></p>
            <div class="col s12 m12 divider"></div>
            <br><br>
            <div id="add-com" class="col s12 m12">
              <div class="col s1 m1">
                <img src="../assets/images/perfil3.jpg" alt="" class="img-comment">
              </div>
              <p class="col s11 m11 ">Oww la ruta de la ropa usada! <span><img src="../assets/images/emogi.png" alt="emogi" class="img-emogi"></span><span  class="right grey-text">publicado : 13:01</span></p>
            </div>
            <div class="col s12 m12">
              <input id="input-com" placeholder="Add a comment.." type="text">
            </div>
          </div>
        </div>
        <div>
          <div id="public-header" class="col s12 m12 ">
            <div class="col s2 m2 ">
              <img alt="" class="comentsPhoto img-perfil">
            </div>
            <div class="col s10 m10">Z'ARIS<br>
              <span class="grey-text">Publicado a las 16:36am</span>
            </div>
            <div class="col s12 m12 divider"></div>
          </div>
          <div id="public-body" class="col s12 m12 white">
            <p>Aprovecha los Desc% en J U S T I C E</p>
            <div class="text-public center">
              <img src="../assets/images/publicaacion2.jpg" class="img-publicacion" alt="">
            </div>
          </div>
          <div class="col s12 m12 group-icon white">
            <a><i class="fa fa-thumbs-o-up icon-public" id="icon-like"></i></a>
            <a href="#"><i class="fa fa-edit icon-public"></i></a>
            <a><i class="fa fa-share icon-public"></i></a>
            <p class="right grey" id="contador"></p>
            <div class="col s12 m12 divider"></div>
            <br><br>
            <div id="add-com" class="col s12 m12">
              <div class="col s1 m1">
                <img src="../assets/images/perfil1.jpg" alt="" class="img-comment">
              </div>
              <p class="col s11 m11 ">Buenas ofertas..!! <span><img src="../assets/images/emogi.png" alt="emogi" class="img-emogi"></span><span  class="right grey-text">publicado : 13:01</span></p>
            </div>
            <div class="col s12 m12">
              <input id="input-com" placeholder="Add a comment.." type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>