<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- hoja de stylos bootstrap -->
  <link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css"/>
  <!-- hoja de stylo css -->
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <title>Red Social</title>
</head>
<body class="bg-login vh100">
    <form class="container">
      <div class="row">
        <div class="col s8 offset-s2">
          <div class="center-align">
            <img class="img-logo" src="../assets/images/logo.png" alt="logo">
          </div>
          <div class="">
            <h2 class="info-login">REGISTRATE</h2>
          </div>
          <div class="input-field col s6">
            <input id="firstName" type="text" class="validate">
            <label>Nombre</label>
          </div>
          <div class="input-field col s6">
            <input id="lastName" type="text" class="validate">
            <label >Apellido</label>
          </div>
          <div class="input-field col s12">
            <input id="emailCreate" type="text" class="validate">
            <label >correo Electronico</label>
          </div>
          <div class="input-field col s12">
            <input id="passwordCreate" type="password" class="validate">
            <label >contraseña</label>
          </div>
          <div class="input-field col s3">
            <input id="dia" type="number" class="validate">
            <label >dia</label>
          </div>
          <div class="input-field col s6">
            <select>
              <option value="" disabled selected>mes</option>
              <option >enero</option>
              <option >febrero</option>
              <option >marzo</option>
            </select>
          </div>
          <div class="input-field col s3">
            <input id="año" type="number" class="validate">
            <label >año</label>
          </div>
          <a href="iniciarSesion.html" id="btnCreate" class="waves-effect waves-light btn disabled">Crear nuevo usuario</a>
          <div class="">
            <p>¿Ya tienes una cuenta? <a href="iniciarSesion.html">Iniciar sesión</a></p>
          </div>
        </div>
      </div>
    </form>
    
  <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>
