<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- hoja de stylos bootstrap -->
  <link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- hoja de stylo css -->
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <title>Red Social</title>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo left"><i class="material-icons"></i>Logo</a>
        <li class="right show-on-small hide-on-large-only">
          <a href="perfil.html" >Perfil
            <img src="img/Friends/guy-9.jpg" class="img-nav ">
          </a>
        </li>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="perfil.html" >Perfil
              <img src="img/Friends/guy-9.jpg" class="img-nav ">
            </a>
          </li>
          <li>
            <a href="home.html" ><i class="fa fa-bars "></i>&nbsp;Home</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-comments "></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-user "></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="divider"></div>
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <h4>Add Friends</h4>
          <div class="divider"></div>
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s3">
                <img src="../assets/images/perfil1.jpg" alt="" class="circle  img-perfil"> <!-- notice the "circle" class -->
              </div>
              <div class="col s7">
                <p>Mario Belomt</p>
              </div>
              <div class="col s2">
                <button class="icon-btn"><i class="fa fa-user-plus "></i></button>
              </div>           
            </div>
            <div class="divider"></div>
            <div class="row valign-wrapper">
              <div class="col s3">
                <img src="../assets/images/perfil1.jpg" alt="" class="circle  img-perfil"> <!-- notice the "circle" class -->
              </div>
              <div class="col s7">
                <p>Mario Belomt</p>
              </div>
              <div class="col s2">
                <button class="icon-btn"><i class="fa fa-user-plus "></i></button>
              </div>           
            </div>
            <div class="divider"></div>
            <div class="row valign-wrapper">
              <div class="col s3">
                <img src="../assets/images/perfil1.jpg" alt="" class="circle  img-perfil"> <!-- notice the "circle" class -->
              </div>
              <div class="col s7">
                <p>Mario Belomt</p>
              </div>
              <div class="col s2">
                <button class="icon-btn"><i class="fa fa-user-plus "></i></button>
              </div>           
            </div>
            <div class="divider"></div>
            <div class="row valign-wrapper">
              <div class="col s3">
                <img src="../assets/images/perfil1.jpg" alt="" class="circle  img-perfil"> <!-- notice the "circle" class -->
              </div>
              <div class="col s7">
                <p>Mario Belomt</p>
              </div>
              <div class="col s2">
                <button class="icon-btn"><i class="fa fa-user-plus "></i></button>
              </div>           
            </div>
            <div class="divider"></div>
          </div>
        </div>
        <div class="col s12 m8">
          <div>
            <textarea  class="post-text" placeholder="Whats in your mind today?"></textarea>
            <div class="post">
              <button type="button" class="btn right">Post</button>
              <ul>
                <li class="inline"><a href="#"><i class="fa fa-map-marker icon"></i></a></li>
                <li class="inline"><a href="#"><i class="fa fa-camera icon "></i></a></li>
                <li class="inline" ><a href="#"><i class="fa fa-film icon"></i></a></li>
                <li class="inline"><a href="#"><i class="fa fa-microphone icon"></i></a></li>
              </ul>
            </div>
          </div>
          <div id="publicacion">
            <div id="public-header" class="col s12 m12">
              <div class="col s2 m2">
                <img src="../assets/images/perfil1.jpg" alt="" class="circle  img-perfil">
              </div>
              <div class="col s10 m10">name
              </div>
              <div class="col s12 m12 divider"></div>
            </div>
            <div id="public-body" class="col s12 m12">
              <div class="text-public"></div>
              <div class=" col s12 m12 divider"></div>
            </div>
            <div class="col s12 m12">
              <i class="fa fa-share left"></i>
              <i class="fa fa-thumbs-o-up left"></i>
              <span class="right">likes </span>
              <span class="right"> comments</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>





  <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>